{{page-title "George"}}

  <h2>George</h2>
  <section>
    <h3 id="overview"><a href="#overview">&sect;</a> Overview</h3>
    <p>George was a cool dude and there is a neat story about him and ukuleles.</p>
  </section>
  <section>
    <h3 id="vital-stats"><a href="#vital-stats">&sect;</a> Vital Stats</h3>
    <dl aria-labelledby="vital-stats">
      <dt>Born</dt>
      <dd>Feb 25, 1943</dd>
      <dt>Died</dt>
      <dd>Nov 29, 2001</dd>
    </dl>
  </section>