{{page-title "John"}}

  <h2>John</h2>
  <section>
    <h3 id="overview"><a href="#overview">&sect;</a> Overview</h3>
    <p>John was a cool dude who liked to wear really really round glasses, among other things.</p>
  </section>
  <section>
    <h3 id="vital-stats"><a href="#vital-stats">&sect;</a> Vital Stats</h3>
    <dl aria-labelledby="vital-stats">
      <dt>Born</dt>
      <dd>Oct 9, 1940</dd>
      <dt>Died</dt>
      <dd>Dec 8, 1980</dd>
    </dl>
  </section>