{{page-title "Paul"}}


  <h2>Paul</h2>
  <section>
    <h3 id="overview"><a href="#overview">&sect;</a> Overview</h3>
    <p>Paul was a cool dude who was the son of a jazz player!</p>
  </section>
  <section>
    <h3 id="vital-stats"><a href="#vital-stats">&sect;</a> Vital Stats</h3>
    <dl aria-labelledby="vital-stats">
      <dt>Born</dt>
      <dd>June 18, 1942</dd>
      <dt>Died</dt>
      <dd>Not yet!</dd>
    </dl>
  </section>