{{page-title "Pete"}}

  <h2>Pete</h2>
  <section>
    <h3 id="overview"><a href="#overview">&sect;</a> Overview</h3>
    <p>Pete was a cool dude but left the fun group before they became famous.</p>
  </section>
  <section>
    <h3 id="vital-stats"><a href="#vital-stats">&sect;</a> Vital Stats</h3>
    <dl aria-labelledby="vital-stats">
      <dt>Born</dt>
      <dd>Nov 24, 1941</dd>
      <dt>Died</dt>
      <dd>Not yet!</dd>
    </dl>
  </section>