{{page-title "Ringo"}}

  <h2>Ringo</h2>
  <section>
    <h3 id="overview"><a href="#overview">&sect;</a> Overview</h3>
    <p>George is a cool dude; he spent a lot of time in hospitals as a child but grew up to be a member of the fun group.</p>
  </section>
  <section>
    <h3 id="vital-stats"><a href="#vital-stats">&sect;</a> Vital Stats</h3>
    <dl aria-labelledby="vital-stats">
      <dt>Born</dt>
      <dd>July 7, 1940</dd>
      <dt>Died</dt>
      <dd>Not yet!</dd>
    </dl>
  </section>