{{page-title "About"}}
<main id="main">
  <h2>About The Fun Group</h2>
  <article class="main-child">
  <p>The fun group was a group of people who just liked to have a fun time and made it so other people could have a fun time too.</p>

  </article>
</main>