{{page-title "Grid Layout Example"}}

<header>
  <h1>A Fun Group</h1>
</header>
<nav>
  <ul>
    <li><LinkTo @route="about"><span aria-hidden="true">&odot;</span> About This Group</LinkTo></li>
    <li><LinkTo @route="index"><span aria-hidden="true">&odot;</span> Group Members</LinkTo></li>
  </ul>
</nav>

{{outlet}}

<footer>
  <p><small>&copy; and other things</small></p>
</footer>