{{page-title "Index"}}
<main id="main">
  <h2>Members of the fun group</h2>
  <ul class="main-child">
    <li><LinkTo @route="members.john">John</LinkTo></li>
    <li><LinkTo @route="members.paul">Paul</LinkTo></li>
    <li><LinkTo @route="members.george">George</LinkTo></li>
    <li><LinkTo @route="members.pete">Pete</LinkTo></li>
    <li><LinkTo @route="members.ringo">Ringo</LinkTo></li>
  </ul>

  {{outlet}}
</main>